.title-container, .content-container {
  -webkit-animation: fadein .6s .5s 1 forwards ease-in-out;
     -moz-animation: fadein .6s .5s 1 forwards ease-in-out;
          animation: fadein .6s .5s 1 forwards ease-in-out;
}

.title-container {
  -webkit-animation-delay: .8s;
     -moz-animation-delay: .8s;
          animation-delay: .8s;
}

.content-container {
  -webkit-animation-delay: 1.1s;
     -moz-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

@-webkit-keyframes fadein{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-moz-keyframes fadein{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
