body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 150%;
  background-color: #f0f1eb;
  color: rgba(111, 106, 70, 1.0);
}

a {
  text-decoration: none;
  color: #2980b9;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}

a:hover {
  color: rgba(111, 106, 70, 1.0);
  border-bottom: 1px dotted rgba(111, 106, 70, 1.0);
}

.title-container {
  padding: 1em;
  border-bottom: 1px dotted #95a5a6;
  text-align: center;
  opacity: 0;
}

.title {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.subtitle {
  padding-top: 1em;
  font-style: italic;
  font-family: 'Merriweather', serif;
  color: #222;
}

.content-container {
  padding: 1em;
  margin: 0 auto;
  width: 700px;
  opacity: 0;
}

.section-title {
  border-bottom: 1px dotted rgba(111, 106, 70, 1.0);
  font-size: 1.25em;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #222;
}

ul.interest-list {
  padding: 0em;
  list-style-type: none;
}

span.interest-title {
  font-style: italic;
}
