body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, serif;
  line-height: 150%;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #135a6e;
  color: #135a6e;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}

a:hover {
  background-color: #eef2dc;
  border: none;
}

.title-container {
  padding: 1em;
  border-bottom: 1px dotted #135a6e;
  text-align: center;
  opacity: 0;
}

.title {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #135a6e;
}

.subtitle {
  font-style: italic;
}

.content-container {
  width: 700px;
  margin: 0 auto;
  padding: 1em;
}

.section-title {
  font-size: 1.25em;
  border-bottom: 1px solid #135a6e;
}

ul.interest-list {
  list-style-type: none;
  padding: 0em;
}

span.interest-title {
  font-weight: bold;
}
